:root {
    --body-font-family: 'Nunito Sans', sans-serif;
    --header-font-family: 'DM Serif Display', serif;
    --header-color: #13678A;
    --highlight-color: #9AEBA3;
    --text-color: #414042;
    --highlight-text-color: #ffffff;
    --max-width: 800px;
}

body {
    font-family: var(--body-font-family);
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font-family);
    
}

h2 {
    text-align: center;
    grid-column: 1/4;
}

#action {
    grid-column: 1/4;
    text-align: center;
    background-color: var(--highlight-color);
    padding: 2em;
    max-width: var(--max-width);
    text-align: center;
    grid-column: 1 / 4;
    margin: -1rem;
}

main {
    height: 100%;
    padding: 1rem;
    display: grid;
    column-span: all;
    grid-gap: 1rem;
    max-width: var(--max-width);
    margin: auto;
  }

header {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 2em 1em
 }

nav {
    max-width: var(--max-width);
    text-align: center;
    background: var(--header-color);
    grid-column: 1 / 3;
    margin: auto;
    color: var(--highlight-text-color);
    padding: 1em;
}

.navigation {
    display: flex;
	flex-direction: column;
	list-style: none;
  }

nav a {
    display: block;
}

nav a:hover {
    border: 1px solid #fff;
}

nav a:link, nav a:visited, nav a:hover, nav a:active {
    text-decoration: none;
    color: white;
}

.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

footer {
    color: var(--highlight-text-color);
    background-color: var(--header-color);
    padding: 1rem;
    text-align: center;
    grid-column: 1 / 4;
    max-width: var(--max-width);
    margin: auto;
}