:root {
    --body-font-family: 'Nunito Sans', sans-serif;
    --header-font-family: 'Playfair Display', serif;
    --header-color: #13678A;
    --highlight-color: #9AEBA3;
    --text-color: #414042;
    --highlight-text-color: #ffffff;
    --max-width: 400px;
}

body {
    font-family: var(--body-font-family);
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font-family);   
}

h2 {
    text-align: center;
}

#header {
    position: relative;
}

header {
    max-width: var(--max-width);
    margin: auto auto 30px auto;  
}

#header h1 {
    position: absolute;
    top: 70%;
    left: 10%;
    width: 100%;
    color: var(--highlight-text-color);
    font-size: clamp(1.5em, 1.5vw, 2rem);
    
}

header img {
    max-width: var(--max-width);
    min-width: 300px;
    width: 100%;
    height: 100%;
}


.gold-members img {
    max-width: var(--max-width);
    min-width: 200px;
    width: 100%;
    height: 100%;
}



.dark-mode {
    background-color: var(--text-color);
    color: var(--highlight-text-color);
}

.dark-mode-action {
    background-color: black;
}

.dark-mode-footer {
    background-color: var(--text-color);
    color: var(--highlight-text-color);
}

main {
    padding: 1rem;
    width: clamp(300px, 100%, var(--max-width));
    margin: auto;
  }

.news {
    margin: auto;
}


.story img {
    max-width: 100%;
    height: auto;
}

.story {
    margin-bottom: 3rem;
}

 #call-to-action {
    text-align: center;
    background-color: var(--highlight-color);
    padding: 1em;
    max-width: var(--max-width);
    text-align: center;    
}


nav {
    max-width: var(--max-width);
    text-align: center;
    background: var(--header-color);
    margin: auto;
    color: var(--highlight-text-color);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}




.navigation {
    display: flex;
	flex-direction: column;
  }

nav a {
    display: block;
}


nav a:link, nav a:visited, nav a:hover, nav a:active {
    text-decoration: none;
    color: var(--highlight-text-color);
}

.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: var(--highlight-text-color);
}

footer {
    color: var(--highlight-text-color);
    background-color: var(--header-color);
    padding: 0rem 0rem 10rem 0em;
    text-align: center;
    width: clamp(300px, 100%, var(--max-width));
    margin: auto;
    
}

#action-button {
    border: none;
    color: var(--highlight-text-color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: var(--header-color)
}

#menu {
	font-size: 1.5rem;
	padding: 3px 7px 6px;
	background-color: var(--header-color);
	color: var(--highlight-text-color);
 	position: absolute;
	right: 45%;
	top: 5%;
}

.navigation li {
	display: none;
}

#menu::before {
	content: "☰";
    text-align: center;
}

#menu.show::before {
	content: "❎";
}

.show li {
	display: block;
}
.show li a {
	display: block;
}

#events {
    background-color: var(--highlight-color);
    padding: 1em;
}

.event img {
    width: 100%;
    height: auto;
}

.event {
    margin: 0 0 3rem 0;
}

/* The switch - the box around the slider */
#switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
/* Hide default HTML checkbox */
#switch input {
    opacity: 0;
    width: 0;
    height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    }

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
    }

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
    }

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    }

/* Rounded sliders */
    .slider.round {
    border-radius: 34px;
    }

.slider.round:before {
    border-radius: 50%;
    }





    .carousel{
        max-width: var(--max-width);
        max-height:384px;
        margin: auto auto 30px auto;
    }

    #carousel-img{
        max-width: var(--max-width);
        min-width: 300px;
        object-fit: contain;
    }

    #img1 {
        max-width: var(--max-width);
        max-height:384px;
        margin: auto auto 30px auto;
    }


    /* .images{

    max-width: var(--max-width);
    min-width: 300px;
    object-fit: contain;
    
} */

.images img {
    width: 100%;
    height: auto;
    margin: auto;
}

.images figure {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 1em 0em;
}

.sidebar-content img {
    width: 100%;
    height: auto;
    margin: auto;
}

figcaption {
    color: var(--header-color);
    text-align: center;
    padding: .5em;
}

.visit-message {
    color: var(--text-color);
    font-size: 1em;
    font-weight:bold;
    text-align: center;
    background-color: var(--highlight-color);
    padding: 1em;
}

.weather {
    background-color: #414042;
    color: var(--highlight-text-color);
    width: clamp(300px, 100%, var(--max-width));
    margin: auto;
    padding: 1em 0em;
    text-align: center;
}

/* form styling */

form label.top input, form label.top select {
    display: block;
    font-size: 1rem;
    border: solid 1px var(--text-color);
    border-radius: 4px;
    padding: .75rem;
    color: black;
    width: 100%;
    max-width: 20rem;
    background-color: #f1f2f2;
    margin: 0rem .4rem;
    
}

::placeholder {
    color: #58595b;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid var(--highlight-color);
    border-radius: 10px;
    padding: .5rem 2%;
    max-width: var(--max-width);
}

form legend {
    color: var(--text-color);
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 1.5rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: var(--header-color);

}

form label.sbs {
    display: block;
    padding-top: .5rem;
    color: var(--text-color);
}


#rangevalue {
   padding-left: 1rem;
   font-size: 2rem;
}

#joinButton {
    border: none;
    background-color: var(--highlight-color);
    color: var(--text-color);
    border-radius: .3rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem .4rem;
}


form label.top input:focus {
    outline-color: var(--highlight-color);
}

form label.top textarea:focus {
    outline-color: var(--highlight-color);
}


#membership {
    padding:  0.5rem 0 1rem 0;
}



#orgDescription {
    margin-bottom: 2rem;
}

.hidden {
    text-align: center;
}

.levels {
    border: 1px solid var(--highlight-color);
    border-radius: 10px;
    padding: .5rem;
    margin: 1rem 0;
}

.levels h3 {
    margin-top: .1rem;
}



.member-card img {
    width: 100%;
    height: auto;
}

.member-card {
    box-shadow: 0 0 5px var(--text-color);
    margin: 1em;
    padding: 1em;
}



.display-toggle {
    text-align: center;
    margin: 1rem auto;
	padding: 0.5rem;
    grid-column: 1 / 4;
}

.display-toggle button {
    background-color: var(--highlight-color);
    padding: 1rem;
    border: none;
    border-radius: .3rem;
    margin: 0 1.5rem;
}

#listview {
    display: block;
    
}

#listview .member-card img {
    display: none;
}

#listview .member-card {
    border: none;
    box-shadow: none;
}

.banner {
    grid-column: 1 / 4;
    text-align: center;
    box-shadow: 0 0 5px var(--text-color);
    margin: 1em;
    padding: 1em;
    position: relative;
}

.banner-text {
    font-size: 1em;
}

.banner-exit {
    position: absolute;
    top: 8%;
    left: 92%;
    border: solid 1px var(--header-color);
    padding: 4px;
}

#hide-banner {
    display: none;
}

.banner-exit a {
    text-decoration: none;
}

.thanks {
    text-align: center;
}

nav a:hover, nav a.active {
    text-decoration: underline;
}

#action {
    padding: 1em;
}