@media (min-width: 1200px) {

    :root {
        --body-font-family: 'Nunito Sans', sans-serif;
        --header-font-family: 'DM Serif Display', serif;
        --header-color: #13678A;
        --highlight-color: #9AEBA3;
        --text-color: #414042;
        --highlight-text-color: #ffffff;
        --max-width: 1000px;
    }



    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;  
    }

    h2 {
        text-align: center;
        grid-column: 1 / 4;
    }

    #menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
        display: flex;
		flex-direction: row;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}

    .events {
        grid-template-rows: 1fr; 
    }

    

}
    
