@media (min-width: 1200px) {

    :root {
        --body-font-family: 'Nunito Sans', sans-serif;
        --header-font-family: 'DM Serif Display', serif;
        --header-color: #13678A;
        --highlight-color: #9AEBA3;
        --text-color: #414042;
        --highlight-text-color: #ffffff;
        --max-width: 1000px;
    }



    /* #header h1 {
        position: absolute;
        top: 210px;
        left: 100px;
        color: var(--highlight-text-color)
        
    } */

    /* main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .news {
        grid-column: 1 / 4;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-span: all;
        grid-gap: 1rem;
    }

    .story:first-child {
        grid-column: 1 / 4;
    } */

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;  
    }

    h2 {
        text-align: center;
        grid-column: 1 / 4;
    }

    #menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
        display: flex;
		flex-direction: row;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}

    footer {
        height: 100%;
    }
    
    #footer-contact {
    float: left;
    text-align: left;

    }

    #footer-info {
        float: right;
        text-align: right;
    }

}
    
