@import url("https://fonts.googleapis.com/css2?family=Bitter&family=Poppins&display=swap");

/*font-family: 'Barlow', sans-serif;
font-family: 'Bitter', serif;
font-family: 'Poppins', sans-serif;*/

body {
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto 1fr auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bitter', serif;
    
}

h1 {
    color: white;
}

h2 {
    text-align: center;
}

h3 {
    color: white;
    text-align: center;
    background-color: 	#757575;
    padding: 0.5em;
    margin: 0;
    border-radius: .5em .5em 0 0
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: white;
}


nav ul, #information ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li, #information li {
    margin: 0;
    padding: .5em;
}

#learning ul {
    list-style-type: none;
}

header {
    max-width: 500px;
    width: 100%;
    background: #757575;
    padding: 1rem;
    grid-column: 1 / 3;
    margin: auto;
    text-align: center;
  }

#information {
    text-align: center;
    padding: 0 0 2em 0;
}

nav {
    max-width: 500px;
    width: 100%;
    text-align: center;
    background: #023047;
    grid-column: 1 / 3;
    margin: auto;
    color: white;
    padding: 1em;
  }
  
  
main {
    height: 100%;
    padding: 1rem;
    grid-column: 1 / 3;
    max-width: 500px;
    margin: auto;
    width: 100%;
  }

footer {
    color: white;
    background: #757575;
    padding: 1rem;
    text-align: center;
    grid-column: 1 / 3;
    max-width: 500px;
    margin: auto;
    width: 100%;

  }

.card {
    border-style: solid;
    border-width: .5px;
    margin:6px;
    border-radius: .5em ;
        
 }

 #headshot, #name-heading {
    display: inline-block;
    margin: auto;
    vertical-align: middle;
 }

 #header {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 2em 1em
 }