@import url("https://fonts.googleapis.com/css2?family=Bitter&family=Poppins&display=swap");

/*font-family: 'Barlow', sans-serif;
font-family: 'Bitter', serif;
font-family: 'Poppins', sans-serif;*/

body {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bitter', serif;
    
}

h1 {
    color: white;
}

h2 {
    text-align: center;
    grid-column: 1 / 3;
}

.card h3 {
    color: white;
    text-align: center;
    background-color: #333333;
    padding: 0.5em;
    margin: 0;
    border-radius: .5em .5em 0 0
}

nav a {
    display: block;
}

nav a:hover {
    border: 1px solid #fff;
}

nav a:link, nav a:visited, nav a:hover, nav a:active {
    text-decoration: none;
    color: white;
}

main a:link, main a:visited, main a:hover, main a:active {
    text-decoration: underline;
    color: black;
}


nav ul, #information ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li, #information li {
    margin: 0;
    padding: .5em;
}

#learning ul {
    list-style-type: none;
}

main ul li {
    color: black;
}

header {
    max-width: 800px;
    background: #333333;
    padding: 1rem;
    grid-column: 1 / 3;
    margin: auto;
    text-align: center;
  }

#information {
    text-align: center;
    padding: 0 0 2em 0;
}

nav {
    max-width: 800px;
    text-align: center;
    background: #023047;
    grid-column: 1 / 3;
    margin: auto;
    color: white;
    padding: 1em;
  }
  
  
main {
    height: 100%;
    padding: 1rem;
    /* display: grid; */
    column-span: all;
    grid-gap: 1rem;
    max-width: 800px;
    margin: auto;
    color: black;
  }

footer {
    color: white;
    background: #333333;
    padding: 1rem;
    text-align: center;
    grid-column: 1 / 3;
    max-width: 800px;
    margin: auto;
    

  }

.card {
    border-style: solid;
    border-width: .5px;
    margin:6px;
    border-radius: .5em ;
        
 }

 #headshot, #name-heading {
    display: inline-block;
    margin: auto;
    vertical-align: middle;
 }

 #header {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 2em 1em
 }

 #menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
 	position: absolute;
	right: 5px;
	top: 5px;
}

#menu::before {
	content: "☰";
}

#menu.show::before {
	content: "❎";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #023047;
	color: #fff;
}
.navigation li {
	display: none;
}
.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.show li {
	display: block;
}
.show li a {
	display: block;
}

.active::before {
	content: "🦋";
}

#map-embed {
    grid-column: 1 / 3;
    margin:auto;
    
}

.temple img {
    width: 100%;
    height: auto;
    margin: auto;
}



.temple-picture {
    position: relative;
}

.temple-picture p {
    position: absolute;
    top: 10%;
    left: 20%;
    width: 100%;
    color: black;
    font-size: 1.5em;
    font-family: 'Bitter', serif;
    overflow: hidden; 
    white-space: nowrap;
    

}

.linkItem {
    padding: 1em;
}

